@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    margin-left: 6vw;
    margin-right: 6vw;
}
#right {
    display: grid;
    padding-bottom: 40px;
    padding-top: 20px;
}
.icons {
    justify-self: end;

}
.icons svg {
    padding: 20px;
    height: 20px;
    width: 20px;
}
.nav {
    text-decoration: none;
    justify-self: end;
    align-self: end;
}
.nav a {
    text-decoration:none;
    color: #6E6E6E;
    font-size: .8em;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.nav a:hover {
    color: black;
}
.header {
    border-bottom: 1px solid #B7B7B7;
}
.name {
    padding-bottom: 40px;
    padding-top: 60px;
    padding-left: 10px;
}
img {
    width: 100%;
    justify-self: center;
}
.s1 {height: 40px;}
.s2 {height: 30px; margin-bottom: 10px; width: 50%; border-bottom: 1px solid #B7B7B7;}
p {
    line-height: 1.8;
    color: #6E6E6E;
    font-size: 1em;
    font-weight: 300;
    max-width: 600px;
}
#homelink {
    text-decoration: none;
}
h1 {
    letter-spacing: 8px;
    font-size: 24pt;
    font-weight: 400;
    color: #77A7B1;
}
h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 6px;
    font-size: 16pt;
    font-weight: 400;
}
h3 {
    font-weight: 400;
    font-size: 1.1em;
}
.work h3::before {
    color: #77A7B1;  
    /* color of bullet or square */
  
    content: "\2022"; 
    /* Unicode of character to precede the list item */
  
    font-size: 3em; 
    /* em or %*/
   
    padding-right: -20px; 
    margin-right: -15px;
    /* use em*/
  
    position: relative;
    top: .25em; 
    left: -.69em;
    /* use em or % */
  
  }
  .icons a {
      text-decoration: none;
  }
  .icons svg:hover {

      fill: #B7B7B7;
  }
  
h6 {
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #6E6E6E;
    font-size: 8pt;
    font-weight: 500;
    padding-top: 10px;
}

.grid {
    margin-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
}
span {font-weight: 400; color: black;}

.work {
    padding-left: 27px;
    border-left: 1px solid #B7B7B7;
}
.col-2 {
    display: grid;
}

#download {
    justify-self: right;
    font-size: .8em;
    letter-spacing: 4px;
    text-decoration: none; 
    color: #77A7B1;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #77A7B1;
}
#download:hover {
    color: white;
    background-color: #77A7B1;
    animation: shake 0.1s; 
}
#cover-text {
    font-size: 1.6em;
    font-weight: 500;
}
#back {
    font-size: .8em;
    letter-spacing: 4px;
    text-decoration: none; 
    color: #6E6E6E;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    transition: .3s;
}
#back:hover {
    transform: translateX(-20px);
}
#next {
    font-size: .8em;
    letter-spacing: 4px;
    text-decoration: none; 
    color: #6E6E6E;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    transition: .3s;
}
#next:hover {
    transform: translateX(20px);
}
ul {
    padding-left: 50px;
}
.footer {
    height: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 60px;
    padding-bottom: 30px;
    align-items: center;
}
.social {
    justify-self: end;
}
svg {
    height: 30px;
    width: 30px;
    padding-right: 10px;
    padding-left: 10px;
    fill: #77A7B1;
}
#globe {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: -2;
}

#link {
    text-decoration: underline;
    color: #77A7B1;

}
#link:hover {
    color: rgb(77, 109, 116);
}
.columns {display: grid; grid-template-columns: 1fr 1fr;
    align-items: center;
}
#special {
    grid-template-columns: 2fr 1fr;
    align-items: start;

}
.header {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.bar {
    height: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.bar #back {
    justify-self: start;
}
.bar #next {
    justify-self: end;
}
@media only screen and (max-width: 750px) {
    .wrapper {
        margin-left:0;
        margin-right: 0;
    }
    .grid {
     grid-template-columns: 1fr;
     grid-template-areas: 
     "two" 
     "one"
    }
    .col-1 {
        grid-area: one;
    }
    .col-2 {
        grid-area: two;
    }
    .col-3 {
        grid-area: three;
    }
    .col-4 {
        grid-area: four;
    }
    .social {
        grid-area: social;
    }
    .footer p {
        grid-area: cr;
    }
    
    .icons a {
        text-decoration: none;
    }
    .icons {
        justify-self: center;
    
    }
    .icons svg {
        padding: 5vw;
        height: 20px;
        width: 20px;
    }
    .footer {
        padding-right: 20px;
        padding-left: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "cr social"
    }
    .bar #back {
        justify-self: end;

    }
    .bar #next {
        justify-self: start;
    }
    .bar {
        grid-gap: 10px;
        text-align: center;
    }

    .header {
        margin-right: 10px;
        margin-left: 10px;
        grid-template-columns: 1fr;

    }
    .name {
        padding-top: 5px;
        padding-bottom: 0;
        padding-left: 0;
    }
    .nav {
        justify-self: center;
    }

    #right {
        
    }
    .columns {
        grid-template-columns: 1fr;
    }
    #special {grid-template-columns: 1fr;}
}
